---
import Docs from '../../layouts/Docs.astro'
import { getCollection, getEntryBySlug } from 'astro:content'

// Server side rendering
// const { slug } = Astro.params

// if (slug === undefined) {
//   return Astro.redirect("/docs/getting-started")
// }

// const entry = await getEntryBySlug("docs", slug)

// if (entry === undefined) {
//   return Astro.redirect("/404")
// }

// Static Rendering
export async function getStaticPaths() {
  const docsEntries = await getCollection('docs')
  
  return docsEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }))
}

const { entry } = Astro.props

const { Content } = await entry.render()
---

<Docs title={entry.data.title}>
  <article>
    <header class="mb-9 space-y-1">
      <p class="font-display text-sm font-medium text-purple-500">{entry.data.section}</p>
      <h1 class="font-display text-3xl tracking-tight text-slate-900 dark:text-white">{entry.data.title}</h1>
    </header>
    <div class="prose prose-slate max-w-none dark:prose-invert dark:text-slate-400 prose-img:rounded-xl prose-headings:scroll-mt-28 prose-headings:font-display prose-headings:font-normal lg:prose-headings:scroll-mt-[8.5rem] prose-lead:text-slate-500 dark:prose-lead:text-slate-400 prose-a:font-semibold dark:prose-a:text-purple-400 prose-a:no-underline prose-a:shadow-[inset_0_-2px_0_0_var(--tw-prose-background,#fff),inset_0_calc(-1*(var(--tw-prose-underline-size,4px)+2px))_0_0_var(--tw-prose-underline,theme(colors.sky.300))] hover:prose-a:[--tw-prose-underline-size:6px] dark:[--tw-prose-background:theme(colors.slate.900)] dark:prose-a:shadow-[inset_0_calc(-1*var(--tw-prose-underline-size,2px))_0_0_var(--tw-prose-underline,theme(colors.purple.800))] dark:hover:prose-a:[--tw-prose-underline-size:6px] prose-pre:rounded-xl prose-pre:bg-slate-900 prose-pre:shadow-lg dark:prose-pre:bg-slate-800/60 dark:prose-pre:shadow-none dark:prose-pre:ring-1 dark:prose-pre:ring-slate-300/10 dark:prose-hr:border-slate-800">
      <Content />
    </div>
    <footer class="mt-16 prose prose-slate max-w-none dark:prose-invert dark:text-slate-400 prose-img:rounded-xl prose-headings:scroll-mt-28 prose-headings:font-display prose-headings:font-normal lg:prose-headings:scroll-mt-[8.5rem] prose-lead:text-slate-500 dark:prose-lead:text-slate-400 prose-a:font-semibold dark:prose-a:text-purple-400 prose-a:no-underline prose-a:shadow-[inset_0_-2px_0_0_var(--tw-prose-background,#fff),inset_0_calc(-1*(var(--tw-prose-underline-size,4px)+2px))_0_0_var(--tw-prose-underline,theme(colors.sky.300))] hover:prose-a:[--tw-prose-underline-size:6px] dark:[--tw-prose-background:theme(colors.slate.900)] dark:prose-a:shadow-[inset_0_calc(-1*var(--tw-prose-underline-size,2px))_0_0_var(--tw-prose-underline,theme(colors.purple.800))] dark:hover:prose-a:[--tw-prose-underline-size:6px] prose-pre:rounded-xl prose-pre:bg-slate-900 prose-pre:shadow-lg dark:prose-pre:bg-slate-800/60 dark:prose-pre:shadow-none dark:prose-pre:ring-1 dark:prose-pre:ring-slate-300/10 dark:prose-hr:border-slate-800">
      <hr>
      <p>
        If you have further suggestions on how we can make this better please don't hesitate to <a href="https://github.com/upmaru/instellar-web" target="_blank">open an issue</a>. Or reach out to us via one of our support channels. If you need a quick support and would like to chat you can join our <a href="https://join.slack.com/t/upmaru/shared_invite/zt-1qncc89xi-Cwz1KiMHd19yI4IZmLcsGA" target="_blank">slack group</a>.
      </p>
    </footer>
  </article>
</Docs>