---
import { getCollection } from 'astro:content'

const docs = await getCollection('docs')
const storages = docs.filter(doc => doc.slug.includes('storage'))

const entries = storages.map(entry => ({
  id: entry.data.id, title: entry.data.link, href: `/docs/${entry.slug}/`
}))
---

<ul>
  {entries.map((entry) => 
    <li>
      <a href={entry.href}>
        {entry.title}
      </a>
    </li>)}
</ul>