---
import MainNav from '../components/MainNav'
const { title, description, cover, url } = Astro.props
---
<html lang="en">
  <head>
	  <meta charset="utf-8" />
	  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#0f172a">
	  <meta name="viewport" content="width=device-width" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@InstellarApp" />
    <meta name="twitter:title" content={title || "PaaS on your infrastructure"} />
    <meta name="twitter:description" content={description || "Develop and push to github and deploy on your own hardware or cloud of your choice."} />
    <meta name="twitter:image" content={cover || "https://instellar.app/previews/home.png"} />
    <meta property="og:url" content={url || "https://instellar.app/"} />
    <meta property="og:type" content="website" /> 
    <meta property="og:title" content={title || "PaaS on your infrastructure"}/>
    <meta property="og:description" content={description || "Develop and push to github and deploy on your own hardware or cloud of your choice."} />
    <meta property="og:image" content={cover || "https://instellar.app/previews/home.png"} />
		<meta name="generator" content={Astro.generator} />
    <script defer data-domain="instellar.app" src="https://plausible.io/js/script.js"></script>
		<title>{title || "Instellar Documentation"}</title>
	</head>
  <body class="bg-slate-900">
    <header>
      <MainNav pathName={Astro.request.url} width="max-w-full" client:load />
    </header>
  </body>
</html>